<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	 <system.webServer>
		 <rewrite>
			 <rules>
			 	<remove name="React Reverse Proxy Share" />
                <remove name="HTTPS force" />
                <remove name="React Routes Community" />
                <remove name="React Reverse Proxy" />
                <remove name="React Routes" />
					<rule name="HTTPS force" enabled="true" stopProcessing="true">
						<match url="(.*)" />
						<conditions>
							<add input="{HTTPS}" pattern="^OFF$" />
						</conditions>
						<action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
					</rule>
			 </rules>
		 </rewrite>
		 <security>
			<requestFiltering allowDoubleEscaping="true" />
		</security>
	 </system.webServer>
</configuration>