<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	 <system.webServer>
		 <rewrite>
			 <rules>
			 	<remove name="React Reverse Proxy Share" />
                <remove name="HTTPS force" />
                <remove name="React Routes Community" />
                <remove name="React Reverse Proxy" />
                <remove name="React Routes" />
					<rule name="HTTPS force" enabled="true" stopProcessing="true">
						<match url="(.*)" />
						<conditions>
							<add input="{HTTPS}" pattern="^OFF$" />
						</conditions>
						<action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
					</rule>
					<rule name="Remove WWW Landing" enabled="true" stopProcessing="true">
						<match url=".*" ignoreCase="true" />
						<conditions logicalGrouping="MatchAll">
							<add input="{HTTP_HOST}" pattern="^www\.(.*)$" />
						</conditions>
						<action type="Redirect" url="http://{C:1}/{R:0}" appendQueryString="true" redirectType="Permanent" />
					</rule>
					<rule name="React Reverse Proxy Landing" stopProcessing="true">
						<match url=".*" />
						<conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_URI}" pattern="/api/(.*)" />
						</conditions>
						<action type="Rewrite" url="http://localhost:5009/{R:0}" appendQueryString="false" />
					</rule>
			 </rules>
		 </rewrite>
		 <security>
			<requestFiltering allowDoubleEscaping="true" />
		</security>
	 </system.webServer>
</configuration>